In [1]:
import pandas as pd, numpy as np

In [2]:
train = pd.read_csv("../../data/raw/train.csv")
test = pd.read_csv("../../data/raw/test.csv")

In [4]:
train_leaky = pd.read_csv("../../data/leaked/0730_jiazhen/train_leak.csv")
test_leaky = pd.read_csv("../../data/leaked/0730_jiazhen/test_leak.csv")

In [5]:
train_leaky.columns

Index(['leaked_target_0', 'leaked_target_1', 'leaked_target_2',
       'leaked_target_3', 'leaked_target_4', 'leaked_target_5',
       'leaked_target_6', 'leaked_target_7', 'leaked_target_8',
       'leaked_target_9', 'leaked_target_10', 'leaked_target_11',
       'leaked_target_12', 'leaked_target_13', 'leaked_target_14',
       'leaked_target_15', 'leaked_target_16', 'leaked_target_17',
       'leaked_target_18', 'leaked_target_19', 'leaked_target_20',
       'leaked_target_21', 'leaked_target_22', 'leaked_target_23',
       'leaked_target_24', 'leaked_target_25', 'leaked_target_26',
       'leaked_target_27', 'leaked_target_28', 'leaked_target_29',
       'leaked_target_30', 'leaked_target_31', 'leaked_target_32',
       'leaked_target_33', 'leaked_target_34', 'leaked_target_35',
       'leaked_target_36', 'leaked_target_37', 'compiled_leak'],
      dtype='object')

In [ ]:
# combine

In [14]:
train_c = pd.concat([train, train_leaky[['compiled_leak']]], axis = 1)
test_c = pd.concat([test, test_leaky[['compiled_leak']]], axis = 1)

In [7]:
train_c[['target', 'compiled_leak']]

           target  compiled_leak
0     38000000.00    38000000.00
1       600000.00      600000.00
2     10000000.00            NaN
3      2000000.00     2000000.00
4     14400000.00            NaN
5      2800000.00     2800000.00
6       164000.00      164000.00
7       600000.00      600000.00
8       979000.00      979000.00
9       460000.00      460000.00
10     1100000.00     1100000.00
11    16000000.00    16000000.00
12      354000.00      354000.00
13     7000000.00     7000000.00
14      100000.00            NaN
15      800000.00      800000.00
16      200000.00      200000.00
17     3600000.00     3600000.00
18     2786000.00     2786000.00
19       40000.00       40000.00
20     1600000.00     1600000.00
21     3266666.66     3266666.66
22     6140000.00     6140000.00
23    14886000.00    14886000.00
24      833333.34            NaN
25      400000.00      400000.00
26     6500000.00     6500000.00
27     1700000.00     1700000.00
28      933333.34      933333.34
29     4000000.00     4000000.00
...           ...            ...
4429   1066666.66     1066666.66
4430  20100000.00            NaN
4431  20000000.00    20000000.00
4432  20000000.00    20000000.00
4433   2200000.00     2200000.00
4434     74000.00       74000.00
4435    800000.00      800000.00
4436  20000000.00    20000000.00
4437   5000000.00     5000000.00
4438   6000000.00     6000000.00
4439   4666666.66     4666666.66
4440     60000.00       60000.00
4441    600000.00            NaN
4442   2000000.00     2000000.00
4443    528666.66      528666.66
4444    300000.00      300000.00
4445   1000000.00     1000000.00
4446  10000000.00    10000000.00
4447   4000000.00            NaN
4448   3250000.00     3250000.00
4449  10000000.00            NaN
4450  21700000.00    21700000.00
4451  21320000.00    21320000.00
4452    400000.00            NaN
4453   4000000.00            NaN
4454   1065000.00     1065000.00
4455     48000.00       48000.00
4456   2800000.00     2800000.00
4457  10000000.00    10000000.00
4458  20000000.00    20000000.00

[4459 rows x 2 columns]

In [9]:
train_c[train_c['compiled_leak'].isna()].shape #826 non-leaking rows

(826, 4994)

In [16]:
test_c[test_c['compiled_leak'].isna()].shape

(41507, 4993)

In [12]:
train_noleak = train_c[train_c['compiled_leak'].isna()].drop('compiled_leak', 1)

In [18]:
train_leak = train_c[~train_c['compiled_leak'].isna()]

In [17]:
test_noleak = test_c[test_c['compiled_leak'].isna()].drop('compiled_leak', 1)

In [19]:
test_leak = test_c[~test_c['compiled_leak'].isna()]

In [22]:
train_noleak.to_csv('../../data/cleaned/leaky_combined_0730/train_noleak.csv', index = False)

In [ ]:
train_leak.to_csv('../../data/cleaned/leaky_combined_0730/train_leak.csv', index = False)

In [ ]:
test_noleak.to_csv('../../data/cleaned/leaky_combined_0730/test_noleak.csv', index = False)

In [ ]:
test_leak.to_csv('../../data/cleaned/leaky_combined_0730/test_leak.csv', index = False)